.box{
	height: 100px;
	aspect-ratio: 1/1;
	display: inline-block;
	font-size: 60px;
	padding: 20px;
	box-sizing: border-box;
}
.master{
	width:830px;
	margin-left: 200px;
	border: 5px solid black;
}
.row:nth-of-type(odd)>.box:nth-of-type(odd){
	background-color: white;
}
.row:nth-of-type(odd)>.box:nth-of-type(even){
	background-color: gray;
}

.row:nth-of-type(even)>.box:nth-of-type(even){
	background-color: white;
}
.row:nth-of-type(even)>.box:nth-of-type(odd){
	background-color: gray;
}
